<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Usuários</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/output.css}"/>
</head>
<th:block th:replace="fragments/menu :: menu"></th:block>
<body class="bg-green-100 text-gray-800 antialiased min-h-screen flex flex-col items-center font-ubuntu">
<div class="container mx-auto px-4 max-w-4xl">
    <div class="flex justify-center items-center md:w-auto bg-white p-6 rounded-lg shadow-md border border-gray-200 mb-4">
        <img src="/images/logos/logo-iftm.png" alt="Logo IFTM" class="w-24 h-24 object-contain mr-4">
        <div class="p-6">
            <h1 class="text-4xl font-extrabold text-green-700 text-left">Usuários Registrados</h1>
            <h2 class="text-lg text-green-600 text-left">Listagem de usuários encontrados no sistema</h2>
        </div>
    </div>

    <div class="bg-white shadow-xl rounded-lg p-6 mb-8 border border-gray-200">
        <div class="flex justify-between items-center mb-6">
            <div class="text-center">
                <a href="/usuarios/cadastrar" sec:authorize="hasRole('ADMIN') or hasRole('PROFESSOR')"
                   class="inline-flex items-center text-green-600 hover:text-green-700 font-bold py-3 px-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                              clip-rule="evenodd"/>
                    </svg>
                    Cadastrar Novo Usuário
                </a>
            </div>
            <div th:if="${#lists.size(usuarios) > 0}" class="text-right text-gray-600 py-4">
                <p>Total de usuários cadastrados: <span th:text="${#lists.size(usuarios)}"></span></p>
            </div>
        </div>

        <ul class="space-y-6">
            <li th:each="usuario : ${usuarios}" class="bg-gray-50 p-6 rounded-lg shadow-md border border-gray-100">
                <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
                    <div class="flex-1 mb-4 md:mb-0 md:mr-8 w-full">
                        <p class="text-lg font-semibold text-gray-800 mb-2">
                            Nome: <span class="font-normal text-green-600" th:text="${usuario.nome}"></span>
                        </p>
                        <p class="text-lg font-semibold text-gray-800 mb-2">
                            Email: <span class="font-normal text-green-600" th:text="${usuario.email}"></span>
                        </p>
                        <p class="text-lg font-semibold text-gray-800">
                            Papel: <span class="font-normal text-green-600" th:text="${usuario.papel.nome}"></span>
                        </p>
                    </div>
                    <div class="flex flex-col md:flex-row gap-4 w-full md:w-auto mt-4 md:mt-0">
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/usuarios/editar/{id}(id=${usuario.id})}"
                           class="w-full md:w-auto text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-200 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                            </svg>
                        </a>
                        <form sec:authorize="hasRole('ADMIN')" th:action="@{/usuarios/deletar/{id}(id=${usuario.id})}" method="post"
                              class="w-full md:w-auto">
                            <button type="submit"
                                    class="w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition duration-200 ease-in-out">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
        <div th:if="${#lists.isEmpty(usuarios)}" class="text-center text-gray-600 py-8">
            <p>Nenhum usuário cadastrado no momento.</p>
        </div>
    </div>
</div>
</body>
</html>