<!-- fragments/menu.html -->
<div th:fragment="menu"
     class="w-full bg-white text-gray-700 p-4 shadow-md mb-6" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="flex justify-between items-center max-w-6xl mx-auto">
        <div class="text-xl font-bold">
            <img src="/images/logo-iftm-short.png" alt="Logo IFTM" class="w-8 h-8 object-contain">
        </div>
        <div class="space-x-6">
            <a href="index" class="hover:underline">Início</a>
            <sec:authorize access="hasRole('ADMIN')">
                <a href="/usuarios" class="hover:underline">Usuários</a>
            </sec:authorize>
            <a href="/monitorias" class="hover:underline">Monitorias</a>
            <a class="hover:underline">Disciplinas</a>
            <a class="hover:underline">Relatórios</a>
            <a class="hover:underline">Meu Perfil</a>
            <a href="logout" class="hover:underline">Sair</a>
        </div>
    </div>
</div>
