<!-- fragments/menu.html -->
<div class="bg-gray-800 text-white p-4">
    <div class="flex justify-between">
        <div class="text-xl font-bold">Meu Sistema</div>
        <div class="space-x-4">
            <a th:href="@{/}" class="hover:underline">Início</a>
            <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
               th:href="@{/admin}" class="hover:underline">Admin</a>
            <a th:if="${#authorization.expression('hasRole(''USER'')')}"
               th:href="@{/perfil}" class="hover:underline">Meu Perfil</a>
            <a th:href="@{/logout}" class="hover:underline">Sair</a>
        </div>
    </div>
</div>
