<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuários:</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/output.css}"/>
</head>
<body class="bg-gray-100 text-gray-800 antialiased font-ubuntu">

<div sec:authorize="isAuthenticated()">
    <th:block th:replace="~{fragments/menu :: menu}"></th:block>
</div>

<div class="container mx-auto mt-10 p-6 bg-white shadow-xl rounded-lg">
    <div class="flex flex-col md:flex-row items-center justify-center p-6 mb-8 bg-green-50 rounded-lg shadow-md">
        <div class="mb-6 md:mb-0 md:mr-8 flex-shrink-0">
            <img src="/images/logo-iftm.png" alt="Logo IFTM" class="w-24 h-24 object-contain">
        </div>
        <div class="text-center md:text-left">
            <h1 class="text-3xl font-extrabold text-green-800 mb-2">Cadastro de Usuários</h1>
            <h2 class="text-lg text-green-600">Preencha o formulário com as informações para criar um novo usuário.</h2>
        </div>
    </div>

    <div class="flex justify-center">
        <form th:action="@{/usuarios}" method="post" th:object="${usuario}"
              class="w-full max-w-lg bg-white p-8 rounded-lg shadow-lg border border-gray-200">
            <div class="mb-5">
                <label for="nome" class="block text-gray-700 text-sm font-semibold mb-2">Nome:</label>
                <input type="text" id="nome" name="nome" required
                       class="form-input w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent transition duration-200 ease-in-out">
            </div>
            <div class="mb-5">
                <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email:</label>
                <input type="email" id="email" name="email" required
                       class="form-input w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent transition duration-200 ease-in-out">
            </div>
            <div class="mb-5">
                <label for="senha" class="block text-gray-700 text-sm font-semibold mb-2">Senha:</label>
                <input type="password" id="senha" name="senha" required
                       class="form-input w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent transition duration-200 ease-in-out">
            </div>
            <div class="mb-6">
                <label for="papelId" class="block text-gray-700 text-sm font-semibold mb-2">Papel:</label>
                <select id="papelId" th:field="*{papel.id}"
                        class="form-select w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent transition duration-200 ease-in-out">
                    <option value="" disabled selected>Selecione um papel</option>
                    <option th:each="papel : ${papeis}"
                            th:if="${#authorization.expression('hasRole(''PROFESSOR'') or isAnonymous()') ? papel.nome == 'Monitor' : true}"
                            th:value="${papel.id}"
                            th:text="${papel.nome}">
                    </option>
                </select>
            </div>
            <button type="submit"
                    class="w-full bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition duration-200 ease-in-out shadow-md">
                Cadastrar
            </button>


            <div sec:authorize="isAnonymous()">
                <div class="mt-4">
                    <a href="/login" class="text-sm text-green-600 hover:text-green-700">Voltar para a tela de login</a>
                </div>
            </div>

            <div sec:authorize="isAuthenticated()" class="mt-4 text-center">
                <div sec:authorize="hasRole('ADMIN') or hasRole('PROFESSOR')">
                    <div class="mt-4">
                        <a href="/usuarios" class="text-sm text-green-600 hover:text-green-700">
                            Voltar para a lista de usuários
                        </a>
                    </div>
                </div>
            </div>

            <div th:if="${mensagemSucesso}"
                 class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4"
                 role="alert">
                <span th:text="${mensagemSucesso}"></span>
            </div>
            <div th:if="${mensagemErro}"
                 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                <span th:text="${mensagemErro}"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>