<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <meta charset="UTF-8">
    <title>Monitorias</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/output.css}"/>
</head>
<body class="bg-green-100 text-gray-800 antialiased min-h-screen flex flex-col items-center font-ubuntu">
<th:block th:replace="fragments/menu :: menu"></th:block>
<div class="container mx-auto px-4 max-w-6xl">
    <div class="flex w-full bg-gray-50 p-6 rounded-lg shadow-md border border-gray-200 mb-4 items-center">
        <div class="w-full p-0">
            <h1 class="text-4xl font-extrabold text-green-700 text-left">Monitorias Registradas</h1>
            <h2 class="text-lg text-gray-500 text-left">Listagem de monitorias encontradas no sistema</h2>
        </div>
        <div class="p-6 flex justify-end w-full">
            <a href="/monitorias/cadastrar"
               class="inline-flex items-center bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition duration-200 ease-in-out shadow-lg">
                Cadastrar Nova Monitoria
            </a>
            <a href="/monitorias/inscricoes"
               class="inline-flex items-center bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-200 ease-in-out shadow-lg ml-4">
                Minhas Inscrições
            </a>
        </div>
    </div>
    <table class="w-full border-separated border-spacing-0 shadow-md border border-gray-200 rounded-lg overflow-hidden">
        <thead class="bg-gray-200">
        <tr>
            <th class="px-4 py-2 border border-gray-200 rounded-tl-lg">Identificador</th>
            <th class="px-4 py-2 border border-gray-200">Status</th>
            <th class="px-4 py-2 border border-gray-200">Horário</th>
            <th class="px-4 py-2 border border-gray-200">Ano</th>
            <th class="px-4 py-2 border border-gray-200">Semestre</th>
            <th class="px-4 py-2 border border-gray-200">Professor</th>
            <th class="px-4 py-2 border border-gray-200">Disciplina</th>
            <th class="px-4 py-2 border border-gray-200">Descrição</th>
            <th class="px-4 py-2 border border-gray-200">Monitor</th>
            <th class="px-4 py-2 border border-gray-200 rounded-tr-lg">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="monitoria, iStat : ${monitoriasPage.content}"
            th:class="${iStat.even ? 'bg-gray-100' : 'bg-white'}"
            th:alt-title="${iStat.even}? 'Linha par' : 'Linha ímpar'">
            <td class="px-4 py-2 border" th:text="${monitoria.id}"></td>
            <td class="px-4 py-2 border" th:text="${monitoria.status}"></td>
            <td class="px-4 py-2 border" th:text="${monitoria.horario}"></td>
            <td class="px-4 py-2 border" th:text="${monitoria.ano}"></td>
            <td class="px-4 py-2 border" th:text="${monitoria.semestre}"></td>
            <td class="px-4 py-2 border" th:text="${monitoria.professor.nome}"></td>
            <td class="px-4 py-2 border" th:text="${monitoria.disciplina.nome}"></td>
            <td class="px-4 py-2 border" th:text="${monitoria.descricao}"></td>
            <td class="px-4 py-2 border"
                th:text="${monitoria.monitor != null ? monitoria.monitor.nome : 'Sem monitor'}"></td>
            <td class="px-4 py-2 border">
                <a th:href="@{/monitorias/editar/{id}(id=${monitoria.id})}"
                   class="text-blue-500 hover:text-blue-700 ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
                    </svg>
                </a>
                <form th:action="@{/monitorias/deletar/{id}(id=${monitoria.id})}" method="post"
                      class="inline-block ml-2">
                    <button type="submit" class="text-red-500 hover:text-red-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                        </svg>
                    </button>
                </form>
                <a th:href="@{/monitorias/visualizar/{id}(id=${monitoria.id})}"
                   class="text-green-500 hover:text-green-700 ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                </a>
                <a th:href="@{/monitorias/inscrever/{id}(id=${monitoria.id})}"
                   class="text-yellow-500 hover:text-yellow-700 ml-2"
                   th:if="${monitoria.status == 'ABERTA' and not #lists.contains(monitoria.inscritos, @session.getAttribute('usuario'))}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"/>
                    </svg>
                </a>
                <a th:href="@{/monitorias/cancelarInscricao/{id}(id=${monitoria.id})}"
                   class="text-orange-500 hover:text-orange-700 ml-2"
                   th:if="${monitoria.status == 'ABERTA' and #lists.contains(monitoria.inscritos, @session.getAttribute('usuario'))}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mt-4">
    <span th:if="${monitoriasPage.hasPrevious()}">
        <a th:href="@{/monitorias/listar(page=${monitoriasPage.number - 1})}"
           class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">Anterior</a>
    </span>
        <span th:if="${monitoriasPage.hasNext()}">
        <a th:href="@{/monitorias/listar(page=${monitoriasPage.number + 1})}"
           class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">Próximo</a>
    </span>
    </div>
</div>
</body>
</html>